@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: hsl(30, 38%, 92%);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.image {
    background-image: url('../images/image-product-desktop.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.main-content {
    padding: 20px;
    width: 50%;

}

header span {
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    font-size: 0.75em;
    letter-spacing: 1px;
}

h1 {
    margin: 10px 0;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 2em;
}

p {
    color: hsl(228, 12%, 48%);
    line-height: 1.6;
    margin: 15px 0;
    font-size: 14px;
}

.preco {
    display: flex;
    margin: 20px 0;
}

.preco p {
    font-family: 'Fraunces', serif;
    font-size: 1.5em;
    color: hsl(158, 36%, 37%);
    margin-right: 15px;
}

.preco s {
    color: hsl(228, 12%, 48%);
    font-size: 0.6em;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    background-color: hsl(158, 36%, 37%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button img {
    margin-right: 10px;
}

button:hover {
    background-color: hsl(158, 36%, 27%);
}


@media (max-width:500px) {
    .card {
        flex-direction: column;
        margin: 30px;
        border-bottom-left-radius: 10px;
    }

    .main-content {
        width: 100%;
    }

    .image {
        background-image: url('../images/image-product-mobile.jpg');
        background-size: cover;
        width: 100%;
        height: 280px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
}